body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Abril Fatface', cursive;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCI+CjxmaWx0ZXIgaWQ9Im4iPgo8ZmVUdXJidWxlbmNlIHR5cGU9ImZyYWN0YWxOb2lzZSIgYmFzZUZyZXF1ZW5jeT0iLjciIG51bU9jdGF2ZXM9IjEwIiBzdGl0Y2hUaWxlcz0ic3RpdGNoIj48L2ZlVHVyYnVsZW5jZT4KPC9maWx0ZXI+CjxyZWN0IHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIiBmaWxsPSIjMDAwIj48L3JlY3Q+CjxyZWN0IHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIiBmaWx0ZXI9InVybCgjbikiIG9wYWNpdHk9IjAuNCI+PC9yZWN0Pgo8L3N2Zz4=");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: tomato;
  text-shadow: 3px 5px 5px black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#container {
  margin-top: 40px;
  padding-top: 20px;
  border-radius: 9px;
  width: 600px;
  height: 600px;
  background-color: #555;
  text-align: center;
  box-shadow: 3px 5px 5px black;
}

h1 {
  color: tomato;
  text-shadow: 3px 5px 5px black;
}

.row {
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.two-halfs {
  max-width: 50%;
}

.buttons {
  padding: 0 15px 0 15px;
  width: 50px;
  height: 30px;
  border-radius: 50%;
  background-color: black;
  color: white;
  font-size: 1.2em;
}

.n-resize {
  cursor: n-resize;
}

.s-resize {
  cursor: s-resize;
}

.white-letters {
  color: white;
}

#timer-label {
  color: tomato;
}

span {
  font-size: 2em;
  margin: 10px;
}


#timer {
  padding-bottom: 30px;
}

#timer-label {
  font-size: 3em;
}

#time-left {
  font-size: 4em;
}

.controls {
  width: 150px;
  height: 50px;
  border-radius: 10px;
  background-color: black;
  color: white;
  font-size: 1.3em;
  cursor: pointer;
}

footer {
  color: black;
  padding-top: 20px;
}

strong {
  color: darkgreen;
}
